h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#app {
    text-align: center;
    width: 800px;
    margin: auto;
}

.characters {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.item img {
    width: 200px;
    border: 1px
}